# For the Postgres Database
POSTGRES_USER=test
POSTGRES_PASSWORD=test
POSTGRES_PORT=5432

# Extra to use PGAdmin
# PGADMIN_DEFAULT_EMAIL=...
# PGADMIN_DEFAULT_PASSWORD=...
# PGADMIN_PORT=8080

# Extra to use pgbackups
# POSTGRES_HOST=5432 # the default gateway for the docker postgres_container